<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>

<div class="top">
    <h2>Universidad Católica de Colombia</h2>
    <h3>Asignación de Salones</h3>
</div>

<div class="menu">
    <a href="/login" class="btn">ASIGNACIÓN DE SALÓN</a>

    <a href="https://login.microsoftonline.com" class="btn">CORREO</a>

    <a href="https://newava.ucatolica.edu.co/ava2/login/index.php" class="btn">
        CAMPUS EN LÍNEA - AVA
    </a>

    <a href="https://portalweb.ucatolica.edu.co/paw/" class="btn">PAW 2.0</a>
</div>

<div class="imagen-inferior">
    <img src="{{ url_for('static', path='img/fondo.png') }}" alt="Imagen institucional">
</div>

</body>
</html>